.stamp {
    display: inline-block;
    border: 0.4rem double currentcolor;
    border-radius: 8px;
    color: hsl(var(--color-red) / 100%);
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
    mask-image: url("./grunge.png");
    mask-size: 200%;
    padding-inline: 2rem;
}
